@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Quintessential', cursive;
    
}

header
    { 
        position: absolute;
        top: 0;
        display: flex;
       
        justify-content: space-between;
       
    
    }
    
    .navigation li
    {
        list-style: none; 
    }
    .navigation li a
    {
        font-size: 20px;
     margin-left: 40px;
     text-decoration: none;
     transition: 0.25s;
     color: #fff;
     opacity: 0.8;
    }
    .navigation li a:hover
    {
        background-color: rgb(48, 46, 148);
        border-radius: 20px;
        padding: 5px;
    }   

body
{
   
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#87cefa, #7fffd4);
       
        }


.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
    transform-style: preserve-3d;
    margin: 50px;
}

.container .box
{
    position: relative;
    width: 400px;
    height: 400px;
    margin: 40px;
    background: linear-gradient(#ff1493, #ffffe0);
    border-radius: 20px;
    transform-style: preserve-3d;
    box-shadow: 0 15px 20px rgba(0, 0, 0, .5)

}
.container .box::before
{
    content: 'Enjoy Time';
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 4em;
    font-weight: 800;
    color: #ffd700;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}

.container .box::after
{
    content: 'and Eating';
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 4em;
    font-weight: 900;
    color: #ffd700;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}

.container .box:hover::before,
.container .box:hover::after
{
    opacity: 0.7;
}
.container .box .name
{   font-size: 50px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}
.container .box:hover .name
{
    top: 40px;
    opacity: 1;
    text-shadow: 0 10px 10px rgba(0, 0, 0, .5)
    
}
.container .box .buy
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,75px);
    color: #fff;
    background: #333;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;


}
.container .box:hover .buy
{
    bottom: 30px;
    opacity: 1;
    color: #fff;
    
    background: linear-gradient(palevioletred, #7fffd4);
    box-shadow: 0 15px 20px rgba(0, 0, 0, .5)
}

.container .box .product
{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 250px;
    transition: 0.5s;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-50%,-50%, 80px) ;
    border-radius: 50%;
    display: cover;
    box-shadow: 0 15px 20px rgba(0, 0, 0, .5)
   

}
footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 15px;
    color: #000080;
    text-decoration: none;
  
}

@media(max-width:1114px){
    header
    { 
        position: absolute;
        top: 0;
        left: 0;
       
        padding-bottom: 100px ;
      
        display: flex;
       
        justify-content: space-between;
        
    
    }
    
    .navigation li
    {
        list-style: none;
    }
    .navigation li a
    {
     margin-left: 40px;
     text-decoration: none;
     transition: 0.25s;
     color: #fff;
     opacity: 0.8;
    }
    .navigation li a:hover
    {
        background-color: rgb(48, 46, 148);
        border-radius: 20px;
        padding: 5px;
    }

  

.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
    transform-style: preserve-3d;
}

.container .box
{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 40px;
    background: linear-gradient(#ff1493, #ffffe0);
    border-radius: 20px;
    transform-style: preserve-3d;
    box-shadow: 0 15px 20px rgba(0, 0, 0, .5)

}
.container .box::before
{
    content: 'Enjoy Time';
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 3em;
    font-weight:500;
    color: #ffd700;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}

.container .box::after
{
    content: 'and Eating';
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 3em;
    font-weight: 500;
    color: #ffd700;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}

.container .box:hover::before,
.container .box:hover::after
{
    opacity: 0.7;
}
.container .box .name
{   font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}
.container .box:hover .name
{
    top: 40px;
    opacity: 1;
    text-shadow: 0 10px 10px rgba(0, 0, 0, .5)
    
}
.container .box .buy
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,75px);
    color: #fff;
    background: #333;
    padding: 10px 15px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;


}
.container .box:hover .buy
{
    bottom: 30px;
    opacity: 1;
    color: #fff;
    
    background: linear-gradient(palevioletred, #7fffd4);
    box-shadow: 0 15px 20px rgba(0, 0, 0, .5)
}

.container .box .product
{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 200px;
    transition: 0.5s;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-50%,-50%, 80px) ;
    border-radius: 50%;
    display: cover;
    box-shadow: 0 15px 20px rgba(0, 0, 0, .5)
   

}

  

}
@media(max-width:1024px){header
    { 
        position: absolute;
        top: 0;
        left: 0;
       
        padding-bottom: 100px ;
      
        display: flex;
       
        justify-content: space-between;
        
    
    }
    
    .navigation li
    {
        list-style: none;
    }
    .navigation li a
    {
     margin-left: 40px;
     text-decoration: none;
     transition: 0.25s;
     color: #fff;
     opacity: 0.8;
    }
    .navigation li a:hover
    {
        background-color: rgb(48, 46, 148);
        border-radius: 20px;
        padding: 5px;
    }

  

.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
    transform-style: preserve-3d;
}

.container .box
{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 40px;
    background: linear-gradient(#ff1493, #ffffe0);
    border-radius: 20px;
    transform-style: preserve-3d;
    box-shadow: 0 15px 20px rgba(0, 0, 0, .5)

}
.container .box::before
{
    content: 'Enjoy Time';
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 3em;
    font-weight:500;
    color: #ffd700;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}

.container .box::after
{
    content: 'and Eating';
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 3em;
    font-weight: 500;
    color: #ffd700;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}

.container .box:hover::before,
.container .box:hover::after
{
    opacity: 0.7;
}
.container .box .name
{   font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}
.container .box:hover .name
{
    top: 40px;
    opacity: 1;
    text-shadow: 0 10px 10px rgba(0, 0, 0, .5)
    
}
.container .box .buy
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,75px);
    color: #fff;
    background: #333;
    padding: 10px 15px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;


}
.container .box:hover .buy
{
    bottom: 30px;
    opacity: 1;
    color: #fff;
    
    background: linear-gradient(palevioletred, #7fffd4);
    box-shadow: 0 15px 20px rgba(0, 0, 0, .5)
}

.container .box .product
{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 200px;
    transition: 0.5s;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-50%,-50%, 80px) ;
    border-radius: 50%;
    display: cover;
    box-shadow: 0 15px 20px rgba(0, 0, 0, .5)
   

}

  

}
@media (max-width: 768px){

    
            .navigation
    {
        display: flex;
        
    }
    .navigation li
    {
        list-style: none;
    }
    .navigation li a
    {
     margin-left: 40px;
     text-decoration: none;
     transition: 0.25s;
     color: #fff;
     opacity: 0.8;
    }
    .navigation li a:hover
    {
        background-color: rgb(48, 46, 148);
        border-radius: 20px;
        padding: 5px;
    }
            
            .container
            {   
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                width: 1200px;
                transform-style: preserve-3d;
                margin-left: 200px;
            }
            
            .container .box
            {
                position: relative;
                width: 300px;
                height: 300px;
                margin: 40px;
                background: linear-gradient(#ff1493, #ffffe0);
                border-radius: 20px;
                transform-style: preserve-3d;
                box-shadow: 0 15px 20px rgba(0, 0, 0, .5)
            
            }
            .container .box::before
            {
                content: 'Enjoy';
                position: absolute;
                top: 20px;
                left: 20px;
                font-size: 3em;
                font-weight:500;
                color: #ffd700;
                font-style: italic;
                opacity: 0;
                transition: 0.5s;
            }
            
            .container .box::after
            {
                content: 'Eating';
                position: absolute;
                bottom: 20px;
                right: 20px;
                font-size: 3em;
                font-weight: 500;
                color: #ffd700;
                font-style: italic;
                opacity: 0;
                transition: 0.5s;
            }
            
            .container .box:hover::before,
            .container .box:hover::after
            {
                opacity: 0.7;
            }
            .container .box .name
            {   font-size: 30px;
                position: absolute;
                top: 0;
                left: 0;
                text-align: center;
                color: #fff;
                width: 100%;
                transform-style: preserve-3d;
                transform: translate3d(0,0,75px);
                transition: 0.5s;
                opacity: 0;
                z-index: 10;
            }
            .container .box:hover .name
            {
                top: 40px;
                opacity: 1;
                text-shadow: 0 10px 10px rgba(0, 0, 0, .5)
                
            }
            .container .box .buy
            {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform-style: preserve-3d;
                transform: translate3d(-50%,0,75px);
                color: #fff;
                background: #333;
                padding: 10px 15px;
                border-radius: 30px;
                text-decoration: none;
                transition: 0.5s;
                opacity: 0;
                z-index: 10;
            
            
            }
            .container .box:hover .buy
            {
                bottom: 30px;
                opacity: 1;
                color: #fff;
                
                background: linear-gradient(palevioletred, #7fffd4);
                box-shadow: 0 15px 20px rgba(0, 0, 0, .5)
            }
            
            .container .box .product
            {
                position: absolute;
                top: 50%;
                left: 50%;
                max-width: 200px;
                transition: 0.5s;
                z-index: 11;
                transition: 0.5s;
                transform-style: preserve-3d;
                transform: translate3d(-50%,-50%, 80px) ;
                border-radius: 50%;
                display: cover;
                box-shadow: 0 15px 20px rgba(0, 0, 0, .5)
               
            
            }
   
    }

    @media (max-width: 991px){

    
        .navigation
{
    display: flex;
    
}
.navigation li
{
    list-style: none;
}
.navigation li a
{
 margin-left: 40px;
 text-decoration: none;
 transition: 0.25s;
 color: #fff;
 opacity: 0.8;
}
.navigation li a:hover
{
    background-color: rgb(48, 46, 148);
    border-radius: 20px;
    padding: 5px;
}
        
        .container
        {   
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 1200px;
            transform-style: preserve-3d;
            margin-left: 200px;
        }
        
        .container .box
        {
            position: relative;
            width: 300px;
            height: 300px;
            margin: 40px;
            background: linear-gradient(#ff1493, #ffffe0);
            border-radius: 20px;
            transform-style: preserve-3d;
            box-shadow: 0 15px 20px rgba(0, 0, 0, .5)
        
        }
        .container .box::before
        {
            content: 'Enjoy';
            position: absolute;
            top: 20px;
            left: 20px;
            font-size: 3em;
            font-weight:500;
            color: #ffd700;
            font-style: italic;
            opacity: 0;
            transition: 0.5s;
        }
        
        .container .box::after
        {
            content: 'Eating';
            position: absolute;
            bottom: 20px;
            right: 20px;
            font-size: 3em;
            font-weight: 500;
            color: #ffd700;
            font-style: italic;
            opacity: 0;
            transition: 0.5s;
        }
        
        .container .box:hover::before,
        .container .box:hover::after
        {
            opacity: 0.7;
        }
        .container .box .name
        {   font-size: 30px;
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
            color: #fff;
            width: 100%;
            transform-style: preserve-3d;
            transform: translate3d(0,0,75px);
            transition: 0.5s;
            opacity: 0;
            z-index: 10;
        }
        .container .box:hover .name
        {
            top: 40px;
            opacity: 1;
            text-shadow: 0 10px 10px rgba(0, 0, 0, .5)
            
        }
        .container .box .buy
        {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform-style: preserve-3d;
            transform: translate3d(-50%,0,75px);
            color: #fff;
            background: #333;
            padding: 10px 15px;
            border-radius: 30px;
            text-decoration: none;
            transition: 0.5s;
            opacity: 0;
            z-index: 10;
        
        
        }
        .container .box:hover .buy
        {
            bottom: 30px;
            opacity: 1;
            color: #fff;
            
            background: linear-gradient(palevioletred, #7fffd4);
            box-shadow: 0 15px 20px rgba(0, 0, 0, .5)
        }
        
        .container .box .product
        {
            position: absolute;
            top: 50%;
            left: 50%;
            max-width: 200px;
            transition: 0.5s;
            z-index: 11;
            transition: 0.5s;
            transform-style: preserve-3d;
            transform: translate3d(-50%,-50%, 80px) ;
            border-radius: 50%;
            display: cover;
            box-shadow: 0 15px 20px rgba(0, 0, 0, .5)
           
        
        }

}

    @media(max-width:550px){
header
{ 
    position: absolute;
    top: 0;
    left: 0;
   
    padding-bottom: 100px ;
  
    display: flex;
   
    justify-content: space-between;
    

}

.navigation li
{
    list-style: none;
}
.navigation li a
{
 margin-left: 40px;
 text-decoration: none;
 transition: 0.25s;
 color: #fff;
 opacity: 0.8;
}
.navigation li a:hover
{
    background-color: rgb(48, 46, 148);
    border-radius: 20px;
    padding: 5px;
}
        
        .container
        {   
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 1200px;
            transform-style: preserve-3d;
           
            margin-top: 50px;
        }
        
        .container .box
        {
            position: relative;
            width: 300px;
            height: 300px;
            margin: 40px;
            background: linear-gradient(#ff1493, #ffffe0);
            border-radius: 20px;
            transform-style: preserve-3d;
            box-shadow: 0 15px 20px rgba(0, 0, 0, .5)
        
        }
        .container .box::before
        {
            content: 'Enjoy';
            position: absolute;
            top: 20px;
            left: 20px;
            font-size: 3em;
            font-weight:500;
            color: #ffd700;
            font-style: italic;
            opacity: 0;
            transition: 0.5s;
        }
        
        .container .box::after
        {
            content: 'Eating';
            position: absolute;
            bottom: 20px;
            right: 20px;
            font-size: 3em;
            font-weight: 500;
            color: #ffd700;
            font-style: italic;
            opacity: 0;
            transition: 0.5s;
        }
        
        .container .box:hover::before,
        .container .box:hover::after
        {
            opacity: 0.7;
        }
        .container .box .name
        {   font-size: 30px;
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
            color: #fff;
            width: 100%;
            transform-style: preserve-3d;
            transform: translate3d(0,0,75px);
            transition: 0.5s;
            opacity: 0;
            z-index: 10;
        }
        .container .box:hover .name
        {
            top: 40px;
            opacity: 1;
            text-shadow: 0 10px 10px rgba(0, 0, 0, .5)
            
        }
        .container .box .buy
        {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform-style: preserve-3d;
            transform: translate3d(-50%,0,75px);
            color: #fff;
            background: #333;
            padding: 10px 15px;
            border-radius: 30px;
            text-decoration: none;
            transition: 0.5s;
            opacity: 0;
            z-index: 10;
        
        
        }
        .container .box:hover .buy
        {
            bottom: 30px;
            opacity: 1;
            color: #fff;
            
            background: linear-gradient(palevioletred, #7fffd4);
            box-shadow: 0 15px 20px rgba(0, 0, 0, .5)
        }
        
        .container .box .product
        {
            position: absolute;
            top: 50%;
            left: 50%;
            max-width: 200px;
            transition: 0.5s;
            z-index: 11;
            transition: 0.5s;
            transform-style: preserve-3d;
            transform: translate3d(-50%,-50%, 80px) ;
            border-radius: 50%;
            display: cover;
            box-shadow: 0 15px 20px rgba(0, 0, 0, .5)
           
        
        }
        
          
        
        }
